<!DOCTYPE html>
<html>
   <head>
      <title>Monthly Newsletter</title>
   </head>
   <body>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#f4f4f4;margin:0;min-width:100%;padding:0;width:100%;font-family: Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;color:#000000">
         <tbody>
            <tr>
               <td align="center">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff;border:none;border-collapse:collapse;border-spacing:0;max-width:700px;width:100%">
                     <tbody>
                        <tr>
                           <td>
                              <img src="https://live.staticflickr.com/7311/11375429394_4fcca4d27a_c.jpg" alt="Header Image" style="width:100%;height:auto;">
                           </td>
                        </tr>
                        <tr>
                           <td style="padding:24px 24px 0 24px;">
                              <div style="width:100%">
                                 <p>Hey {{ name }}!</p>
                                 <p>Welcome to our monthly newsletter!</p>
                                 <p>Stay tuned for updates and more information.</p>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td style="padding:24px">
                              <table align="center" border="0" cellpadding="0" cellspacing="0">
                                 <tbody>
                                    <tr>
                                       <td>
                                          <a href="https://awesomepixx.com/" target="_blank" style="background-color:#000000;border-radius:8px;border:2px solid #000000;color:#ffffff;display:block;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;padding:16px 28px;text-decoration:none;text-align:center;">
                                             Visit Website
                                          </a>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                        <tr>
                           <td style="padding:24px">
                              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                 <tbody>
                                    <tr>
                                       <td style="border-top:2px solid #000000;width:100%;"></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <table>
                                 <tbody>
                                    <tr>
                                       <td style="padding:12px 24px 0 24px;">
                                          <h1 style="font-family: Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;">Django Community Website</h1>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                             <tbody>
                                                <tr>
                                                   <td style="padding:0;" colspan="6" width="50%">
                                                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                         <tbody>
                                                            <tr>
                                                               <td align="center">
                                                                  <a href="https://awesomepixx.com/" target="_blank">
                                                                     <img width="294" style="max-width:100%;border-radius:16px;display:block" src="https://awesomepixx.com/static/images/awesome_pixx_twitter.jpg" alt="Awesome Pixx">
                                                                  </a>
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                   <td colspan="6" width="50%">
                                                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                         <tbody>
                                                            <tr>
                                                               <td style="padding:0 24px 12px 24px;">
                                                                  <div style="width:100%">
                                                                     <p>Have you checked out <a href="https://awesomepixx.com/" target="_blank" style="font-weight:bold;color:#000000;">Awesome Pixx</a> yet? New Django features will be added regularly.</p>
                                                                     <p>Launching soon:</p>
                                                                     <ul>
                                                                        <li><p>Login with Google and X</p></li>
                                                                        <li><p>Stripe Implementation</p></li>
                                                                        <li><p>Image & Caption Game</p></li>
                                                                        <li><p>AI</p></li>
                                                                     </ul>
                                                                     <p>Subscribe to my <a href="https://www.youtube.com/@ajudmeister" target="_blank" style="font-weight:bold;color:#000000;">YouTube</a> channel so you don’t miss it!</p>
                                                                  </div>
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                        <tr>
                           <td style="padding:24px">
                              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                 <tbody>
                                    <tr>
                                       <td style="border-top:2px solid #000000;width:100%;"></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                        <tr>
                           <td style="padding:12px 24px;">
                              <h1 style="font-family: Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;">Thanks for Being Awesome! 😎</h1>
                              <p>Thanks for your likes, subs, comments and support! Your engagement makes this community great. Thanks for being a part of it. 🥰 <strong>Stay curious and happy coding!</strong></p>
                           </td>
                        </tr>
                        <tr>
                           <td style="padding:24px">
                              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                 <tbody>
                                    <tr>
                                       <td style="border-top:2px solid #000000;width:100%;"></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                        <tr>
                           <td style="padding:12px 0;">
                              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                 <tbody>
                                    <tr>
                                       <td align="center">
                                          <table border="0" cellpadding="0" cellspacing="0">
                                             <tbody>
                                                <tr>
                                                   <td style="padding:0 18px;"><a href="https://instagram.com/ajudmeister" style="display:block" target="_blank"><img width="40" style="width:40px;max-width:40px;display:block" alt="Instagram icon" src="https://cdn-images.mailchimp.com/icons/social-block-v3/block-icons-v3/instagram-outline-dark-40.png"></a></td>
                                                   <td style="padding:0 18px;"><a href="https://x.com/ajudmeister" style="display:block" target="_blank"><img width="40" style="width:40px;max-width:40px;display:block" alt="Twitter icon" src="https://cdn-images.mailchimp.com/icons/social-block-v3/block-icons-v3/twitter-outline-dark-40.png"></a></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                        <tr>
                           <td style="padding:32px 12px 56px 12px;" align="center">
                              <a href="https://awesomepixx.com/" style="display:block" target="_blank">
                                 <img width="95" style="width:95px;max-width:95px;display:block" src="https://awesomepixx.com/static/images/awesomepixx_logo.png">
                              </a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
            <tr>
                <td align="center" style="font-size:12px;padding:24px 0;color:#000000;display:block">
                    If you no longer wish to receive this newsletter, you can
                    <a href="http://localhost:8000/profile/settings/" target="blank" style="color:#000000">
                        unsubscribe here
                    </a>
                </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>