<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Newsletter</title>
</head>
<body>
    <h1>Monthly Newsletter</h1>
    <p>Dear, {{ name }} ,</p>
    <p>Welcome to the monthly Newsletter:</p>
    <p>Stay tuned for more information</p>
    <p>
        If you want to unsubscribe, please click on the following link:
        <a href="http://localhost:8000/profile/settings/" target="blank">
            unsubscriber
        </a>
    </p>
    
</body>
</html>